*.bak
*.idea
*.project
*.swp
*~
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

typo3/terraform/assets/keys/*
typo3/terraform/temp/*
typo3/terraform/.terraform
typo3/terraform/.terraform.lock.hcl
typo3/terraform/terraform.tfstate
typo3/terraform/terraform.tfstate.backup
wordpress/*
